<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviceEndPoint">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://memoq.blackbird.io:2053/memoqservices/ServerProject/ServerProjectService"
                binding="basicHttpBinding" bindingConfiguration="serviceEndPoint"
                contract="MQS.ServerProject.IServerProjectService" name="serviceEndPoint" />
        </client>
    </system.serviceModel>
</configuration>